html
	head
		//- basics
		script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")

		//- mobile devices support
		meta(name="viewport" content="width=device-width, initial-scale=1")

		//- locals
		script(src="./script.js")
		link(rel="stylesheet" href="./style.css")
	body
		//- start here
		.container
			h1#myHeader hello world
